extends layout

block content
  .container
    form#uploadForm(action="/upload", method="post", enctype="multipart/form-data")
      .drag-area
        .icon
          i.fas.fa-cloud-upload-alt
        header  Arrastra y suelta para cargar tu archivo
        input(type="file", name="image", id="image", accept="image/*", required)
        label(for="image") Selecciona tu imagen <!-- Etiqueta asociada al input -->
        img#selectedImage(src="", alt="")
      .options
        label(for="format") Elija formato de la imagen:
        select(name="format", id="format")
          option(value="png") PNG
          option(value="jpg") JPG
          option(value="jpeg") JPEG
          option(value="webp") WEBP
      button(type="submit") Convertir Imagen

    .conversion-counter
      | Conversiones restantes: #{3 - (conversionCount || 0)}

  script.
    document.addEventListener('DOMContentLoaded', function() {
      // Manejar el evento de cambio del campo de entrada de archivo
      document.getElementById('image').addEventListener('change', function() {
        // Obtener el archivo seleccionado
        var file = this.files[0];

        // Verificar si se seleccionó un archivo
        if (file) {
          // Crear un objeto de tipo FileReader
          var reader = new FileReader();

          // Configurar la función de devolución de llamada para cuando la lectura del archivo esté completa
          reader.onload = function(e) {
            // Mostrar la imagen seleccionada en el cuadro
            document.getElementById('selectedImage').src = e.target.result;
            
            // Asignar el enlace de descarga al botón de descarga
            document.getElementById('downloadButton').href = e.target.result;
          };

          // Leer el contenido del archivo como URL de datos
          reader.readAsDataURL(file);
        }
  
      });
    });
